*~
\#*
.\#*
.DS_Store
compiled/
/doc/
main
main.exe
qcr_win_x86_64.exe
qcr_linux_x86_64
qcr_linux-x86_64
qcr_win_x86_64
qcr_linux-x86_64.zip
qcr_win_x86_64.zip
qcr-x86_64-win32
qcr-x86_64-linux
qcr-x86_64-linux.zip
qcr-x86_64-win32.zip
file